<a href="https://colab.research.google.com/github/MengChiehLiu/2023-NTU-ACCT-ML-camp/blob/main/codes_for_student/II_Python_Introduction_%26_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# II. Python Introduction & Practice

The programming language is the language used by the programmer to communicate with the computer. It clearly tells the computer what to do in each step. The purpose of programming is to design a clear and complete instruction , and use the programming language to describe it to the computer.The computer will follow this instruction to help us complete the task.
  
When writing a program, we should also consider symbols, grammar, and semantic logic based on the language, just like a human language, and describe the program you design in the correct way.

## 1. Environment setup and Hello World in python (Colab)


-**Print**: Print out whatever after it.

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("I want to learn Python!")

I want to learn Python!

In [ ]:
print("3.1415926")

3.1415926

## 2. Variables and Basic data type

-Variable: A variable is something like a container that stores a value. Before using it, we need to name it and assign it an initial value.


-Assignment Operator:  "=".  The value on the right side of the equal sign is assigned to the variable on the left.  For example: Variable = 10

-Data type

*   int:integer. Ex:0, 1, -1
*   float:fractional numbers. Ex:2.0, 4.3, 3.1415
*   string:strings. Ex:"0", "4.3", "I love Python"




-**Type**: show the data type of a variable.

In [ ]:
a = 123456
b = 4.32
c = "Good morning"
print(a)
print(c)
print(b)
print(type(a))
print(type(c))
print(type(b))

123456
Good morning
4.32
<class 'int'>
<class 'str'>
<class 'float'>

## 3.Basic statistics

### 3.1 Arithmetic Operator

"+" plus

"-" minus

"*" multiply

"/" divide

"**" power

"//" quotient

"%" remainder

-**input**: it can put any value you want

-**Notice:only the same data type could be calculated**

In [ ]:
num1 = 10
num2 = 3
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 ** num2)
print(num1 // num2)
print(num1 % num2)

13
7
30
3.3333333333333335
1000
3
1

In [ ]:
num3 = input()
num4 = input()
print(num3 + num4)
print(num3 - num4)
print(num3 * num4)
print(num3 / num4)
print(num3 ** num4)
print(num3 // num4)
print(num3 % num4)

10
20
1020

TypeError: ignored

ERROR!!! WHY???

**Because the string couldnâ€™t be calculated!!!**

-Type conversion is called **casting**.

In [ ]:
num1 = 10
print(float(num1))
print(str(num1))
print(type(float(num1)))
print(type(str(num1)))

10.0
10
<class 'float'>
<class 'str'>

In [ ]:
num3 = int(input())
num4 = int(input())
print(num3 + num4)
print(num3 - num4)
print(num3 * num4)
print(num3 / num4)
print(num3 ** num4)
print(num3 // num4)
print(num3 % num4)

10
20
30
-10
200
0.5
100000000000000000000
0
10

The process of finding the problems is called debugging.

Besides, we can type some hints in the input.

In [ ]:
num3 = int(input("The first number is "))
num4 = int(input("The second number is "))
print(num3 + num4)
print(num3 - num4)
print(num3 * num4)
print(num3 / num4)
print(num3 ** num4)
print(num3 // num4)
print(num3 % num4)

The first number is 10
The second number is 20
30
-10
200
0.5
100000000000000000000
0
10

### 3.2 Self assignment

In [ ]:
# Previous
num1 = 10
num1 = num1 + 2
print(num1)


# Self assignment
num1 = 10
num1 += 2
print(num1)

12
12

In [ ]:
# Previous
num2 = 8
num2 = num2 * 3
print(num2)


# Self assignment
num2 = 8
num2 *= 3
print(num2)

24
24

### 3.3 Comparison Operator

Before introducing the Comparison Operator....


Now, we have introduced three data types: integer, float, and string. 

Another common data type is called **Boolean**.   

*   Only two possible values: true and false.

*   Used to determine true or false logical concepts.

In [ ]:
a = bool(0)   # False = 0
print(a)

a = bool(10)  # True = other numbers
print(a)

a = bool(-5)  # True = other numbers
print(a)

False
True
True
False

-Comparison Operator

"==" equal

"!=" unequal

">" bigger

"<" smaller

">=" no less than

"<=" no more than

In [ ]:
print(3 == 2)
print(3 != 2)
print(3 > 2)
print(3 < 2)
print(3 >= 2)
print(3 <= 2)

False
True
True
False
True
False

**=  vs. ==**

"=" assign(a becomes b). For example, a = b. It  means that we assign the value of b to the  a.

"==" equal(a equals b). For example, a == b. It  means that the value of b equals the value of a.

In [ ]:
a = 2
b = 5
print(a == b)

False

**Example 1**

Please let user enter weight and height and calculate their BMI

BMI = weight(unit:KG) / height^2 (unit:CM)

In [ ]:
height = float(input())
weight = float(input())

bmi = weight / ((height / 100) ** 2)
print(bmi)

173
54.7
18.276587924755255

**Example 2**

The final score of the Accounting course is determined by midterm exam(35%), final exam(45%), and final report(20%).

Jack: midterm exam:70, final exam:85, final report:83

Amy: midterm exam:50, final exam:95, final report:92

Please calculate Jack's and Amy's final score and check if the statement that Jack has a higher final score than Amy is true or false.

In [ ]:
mid_exam1 = int(input())
final_exam1 = int(input())
final_report1 = int(input())
final_score1 = mid_exam1 * 0.35 + final_exam1 * 0.45 + final_report1 * 0.2

mid_exam2 = int(input())
final_exam2 = int(input())
final_report2 = int(input())
final_score2 = mid_exam2 * 0.35 + final_exam2 * 0.45 + final_report2 * 0.2

print(final_score1)
print(final_score2)
print(final_score1 > final_score2)

79.35
78.65
True

In [ ]:
# a better way
# if we change the percentage, we can change the number below just one time and decrease the probability of making any mistakes
mid_percent = 0.35
final_exam_percent = 0.45
final_report_percent = 0.2

mid_exam1 = int(input())
final_exam1 = int(input())
final_report1 = int(input())
final_score1 = mid_exam1 * mid_percent + final_exam1 * final_exam_percent + final_report1 * final_report_percent

mid_exam2 = int(input())
final_exam2 = int(input())
final_report2 = int(input())
final_score2 = mid_exam2 * mid_percent + final_exam2 * final_exam_percent + final_report2 * final_report_percent

print(final_score1)
print(final_score2)
print(final_score1 > final_score2)

79.35
78.65
True

**Practice1**

Sheldon is in the supermarket. 

Apple is $20 per unit. 

Orange is $15 per unit. 

Lemon is $10 per unit. 

There is a 20% discount for apples and 10% discount for oranges. Sheldon buys 10 apples, 10 oranges, 15 lemons. How much should Sheldon pay?

In [ ]:
apple_price = int(input())
orange_price = int(input())
lemon_price = int(input())
apple_discount = 0.8
orange_discount = 0.9

sum =  10 * apple_price * apple_discount + 10 * orange_price * orange_discount +  15 * lemon_price
print(sum)

20
15
10
445.0

## 4.Conditionals(If else)

### 4.1 if-else statement

if condition:

> statements 1

elif condition2:


> statements 2

else:


> statements 3

In [ ]:
a = int(input())

if a < 100:
  print("a < 100")
else:
  print("a >= 100")

500
a >= 100

In [ ]:
a = int(input())

if a > 0:
  print("a > 0")
elif a == 0:
  print("a = 0")
else:
  print("a < 0")

10
a > 0

### 4.2 Logical operators

Sometimes, the condition is complex.

If I am rich **and** have lots of time, I will buy myself a mansion.

If I am rich **or** have lots of time, I will buy myself a mansion.

If I am **not** poor, I will buy myself a mansion.

In [ ]:
a = int(input())
b = int(input())

if a < 100 and b < 100:
  print("a and b are all below 100")
else:
  print("a and b are not all below 100")

50
150
a and b are not all below 100

In [ ]:
a = int(input())
b = int(input())

if a < 100 or b < 100:
  print("a or b are below 100")
else:
  print("a and b are not lower than 100")

20
222
a or b are below 100

In [ ]:
a = int(input())

if not a == 100:
  print("a is not 100")
else:
  print("a is 100")

20
a is not 100

**Example 1**

Barney is a clerk. He can get a reward of $1 for selling one unit of goods. 

If you accumulate 15 units in a single day, starting from the 16th unit, you can get a reward of $1.5 for each unit.

Please let the user enter the number of orders and calculate how much money the clerk can earn.

In [ ]:
order = int(input())

if order >= 16:
  sum = 15 * 1 + (order - 15) * 1.5
else:
  sum = order * 1

print(sum)

20
22.5

**Example 2**

Grade Point Average(GPA) and score switch table are listed below:

A+:90-100

A:85-89

A-:80-84

B+:77-79

B:73-76

B-:70-72

C+:67-69

C:63-66

C-:60-62

F:below60

The final score of Accounting is determined by midterm exam(35%), final exam(45%), and final report(20%).

Jack: midterm exam:70, final exam:85, final report:83


What is Jack's GPA?

In [ ]:
mid_percent = 0.35
final_exam_percent = 0.45
final_report_percent = 0.2

mid_exam1 = int(input())
final_exam1 = int(input())
final_report1 = int(input())
final_score1 = mid_exam1 * mid_percent + final_exam1 * final_exam_percent + final_report1 * final_report_percent

if final_score1 >= 90:
  print("A+")
elif final_score1 >= 85:
  print("A")
elif final_score1 >= 80:
  print("A-")
elif final_score1 >= 77:
  print("B+")
elif final_score1 >= 73:
  print("B")
elif final_score1 >= 70:
  print("B-")
elif final_score1 >= 67:
  print("C+")
elif final_score1 >= 63:
  print("C")
elif final_score1 >= 60:
  print("C-")
else:
  print("F")

82
82
82
A-

**Practice 1**

In a national park, if your age is 65 or above, you can buy the concession ticket.

The regular ticket is $250.  

The concession ticket is $150. 

Ted(?-years-old) went to this national park. How much should they pay?

In [ ]:
age = int(input())
regular_ticket = 250
concession_ticket = 150

if age >= 65:
  print("$", regular_ticket) # there will be a blank between "$" and price.
else:
  print("$" + str(concession_ticket))

70
$ 250

Following the previous question. Now, if your age is 65 or above, you can buy the concession ticket or if your age is 12 or below, you can buy the child ticket.

The regular ticket is $250.

The concession ticket is $150.

The child ticket is $100

Ted(?-years-old) went to this national park. How much should they pay?

In [ ]:
age = int(input())
regular_ticket = 250
concession_ticket = 150
child_ticket = 100

if age >= 65:
  print("$" + str(regular_ticket)) # there will be a blank between "$" and price.
elif age < 65 and age > 12:
  print("$" + str(concession_ticket))
else:
  print("$" + str(child_ticket))

10
$100

![E7on6knVUAYSjM2.jpg]()

### 4.3 Nested if-else statement

In the example below, 

If condition1 and condition 2 are true, 
statements A will be executed. 

If condition 1 is true but condition 2 is 
false, statements B will be executed. 

If condition 1 is false but condition 3 is true, statements C will 
be executed.

If condition1 and condition 3 are false, 
statements D will be executed.

In [ ]:
if condition 1:
  if condition 2:
    statements A
  else:
    statements B
else:
  if condition 3:
    statements C
  else:
    statements D

In [ ]:
a = int(input())
b = int(input())

if a == 0:
  if b == 0:
    print("a and b are both 0")
  else:
    print("b is not 0")
else:
  print("a is not 0")

0
10
b is not 0

In [ ]:
a = int(input())
b = int(input())
c = int(input())

if a >= b:
  if a >= c:
    print(a, "is the largest")
  else:
    print(c, "is the largest")

else:
  if b >= c:
    print(b, "is the largest")
  else:
    print(c, "is the largest")

10
25
30
30 is the largest

In [ ]:
# alternatives
a = int(input())
b = int(input())
c = int(input())

max = c
if a >= b:
  if a >= c: 
    max = a
else:
  if b >= c:
    max = b

print(max, "is the largest")

15
20
5
20 is the largest

**Practice 2**

A person who is 20 or above and she/he is not under declaration of guardian has the right to vote.

Please let a user enter her/his age and whether she/ he is under declaration of guardian and then determine whether she/he is eligible to vote.

In [ ]:
age = int(input())
guardian = int(input())

if age >= 20: 
  if guardian == 0:  # without under declaration of guardian
    print("Yes")
  else:         # under declaration of guardian
    print("No")

else:          # age < 20
  print("No")

60
0
Yes

## 5. Iterations

### 5.1 While

Sometimes, we want to repeatedly execute a block of codes.

We can write lots of if-else, but it will take lots of time.

Therefore, we need iterations. **While** is one way of the iterations.

When the condition is met, the **while** loop will continuously execute.

In [ ]:
While conditiona1:

  statement

In [ ]:
a = 1
while a <= 5:
  print(a)
  a += 1    # loop counter

1
2
3
4
5

In [ ]:
sum = 0
i = 1

while i <= 100:
  sum = sum + i
  i = i + 1


print(sum)

5050

-Break: a way to break the loop.

In [ ]:
sum = 0
i = 1

while i <= 100:
  if i == 99:
    break
  sum = sum + i
  i = i + 1
  

print(sum)

# 4851 = 5050 - 100 - 99

4851

-Infinite loop

In [ ]:
sum = 0
i = 1

# break out of the while loop
while i > 0:     # infinite loop
  if i == 100:   # stopper
    break
  sum = sum + i
  i = i + 1
  

print(sum)

# 4950 = 5050 - 100

4950

### 5.2 Nested loop

Like if-else, loops can also be nested.

In [ ]:
a = 1
b = 1
while a <= 3:
  while b <= 3:
    print(a * b)
    a += 1
    b += 1

1
4
9

In [ ]:
a = 1
while a <= 3:
  b = 1
  while b <= 3:
    print(a * b)
    b += 1
  print("-----------")
  a += 1

1
2
3
-----------
2
4
6
-----------
3
6
9
-----------

### 5.3 For
For loop is another way to repeatedly execute.

-**for** variable **in** list:


> statement




-**range**(start, stop, step)

å¾žstartåˆ°stopä¸€ç³»åˆ—çš„ç­‰å·®ç´šæ•¸

In [ ]:
for i in 6, 3, 1:
  print(i)

6
3
1

In [ ]:
for i in "hello":
  print(i)

h
e
l
l
o

In [ ]:
for i in range(5):
  print(i)
print("end1")

for i in range(0, 5):
  print(i)
print("end2")

for i in range(0, 5, 1):
  print(i)
print("end3")
for i in range(0, 5, 2):
  print(i)

0
1
2
3
4
end1
0
1
2
3
4
end2
0
1
2
3
4
end3
0
2
4

In [ ]:
sum = 0
for i in range(1, 101):
  sum = sum + i
print(sum)

5050

In [ ]:
for x in range(9):
  x += 1
  for y in range(9):
    y += 1
    print("(" + str(x) + ", " + str(y) + ")", end = " ")
  print() # æ›è¡Œ

(1, 1) (1, 2) (1, 3) (1, 4) (1, 5) (1, 6) (1, 7) (1, 8) (1, 9)
(2, 1) (2, 2) (2, 3) (2, 4) (2, 5) (2, 6) (2, 7) (2, 8) (2, 9)
(3, 1) (3, 2) (3, 3) (3, 4) (3, 5) (3, 6) (3, 7) (3, 8) (3, 9)
(4, 1) (4, 2) (4, 3) (4, 4) (4, 5) (4, 6) (4, 7) (4, 8) (4, 9)
(5, 1) (5, 2) (5, 3) (5, 4) (5, 5) (5, 6) (5, 7) (5, 8) (5, 9)
(6, 1) (6, 2) (6, 3) (6, 4) (6, 5) (6, 6) (6, 7) (6, 8) (6, 9)
(7, 1) (7, 2) (7, 3) (7, 4) (7, 5) (7, 6) (7, 7) (7, 8) (7, 9)
(8, 1) (8, 2) (8, 3) (8, 4) (8, 5) (8, 6) (8, 7) (8, 8) (8, 9)
(9, 1) (9, 2) (9, 3) (9, 4) (9, 5) (9, 6) (9, 7) (9, 8) (9, 9)

**-for vs while**

**for**: Use it when you do know how many loops you will need.

**while**: Use it when you donâ€™t know how many loops you will need.

**Example 1**

The price of this product is p

The demand of this product is q = 100 - 2p

The cost of this product is 20

Please find the optimal price to earn the largest

In [ ]:
max_profit = 0
optimal_price = 0

for p in range(21, 50):  # price shold higher than cost and demand should not equal to 0
  profit = (100 - 2 * p) * (p - 20)
# print(p, profit)
  if profit > max_profit:
    max_profit = profit
    optimal_price = p

print(max_profit)
print(optimal_price)

450
35

**Practice 1**

Please let the user enter a number and add all odd numbers from 1 to that number.

In [ ]:
number = int(input())
sum = 0

for i in range(1, number + 1):
  if i % 2 == 1:
    sum += i

print(sum)

5
9

## 6.List

List is a container that holds items.

An item could be an integer, a float, or a string.

ex: [1, 2, 3, 7, 18]

ex: ["apple", "orange", "grava"]

In [ ]:
alist = []    # declare an empty list
blist = [1, 2, 3]
clist = ['hello', 2, 3.7]

# The first item is indexed at 0
print(clist[0]) 
print(clist[1])
print(clist[2])
print(clist)

hello
2
3.7
['hello', 2, 3.7]

In [ ]:
digits = [0, 1, 5]

for i in digits:
  print(i)

0
1
5

-List operations

In [ ]:
alist = [0, 3, 5, 2, 2, 6]
alist.append(17)
print(alist) # [0, 3, 5, 2, 2, 6, 17]

alist.sort()
print(alist) # [0, 2, 2, 3, 5, 6, 17]

alist.reverse()
print(alist) # [17, 6, 5, 3, 2, 2, 0]

print(alist.index(5)) #2

alist.insert(5, 1000)
print(alist) # [17, 6, 5, 3, 2, 1000, 2, 0]

print(alist.count(2)) # 2

alist.remove(1000)
print(alist) # [17, 6, 5, 3, 2, 2, 0]

print(alist.pop(6)) # 0

print(alist) # [17, 6, 5, 3, 2, 2]

[0, 3, 5, 2, 2, 6, 17]
[0, 2, 2, 3, 5, 6, 17]
[17, 6, 5, 3, 2, 2, 0]
2
[17, 6, 5, 3, 2, 1000, 2, 0]
2
[17, 6, 5, 3, 2, 2, 0]
0
[17, 6, 5, 3, 2, 2]

**Example 1**

Using list to calculate the mean of given numbers 10, 65, 25, 8, 17.

In [ ]:
alist = [10, 65, 25, 8, 17]
sum = 0

for i in alist:  # åŠ ç¸½
  sum += i

number = len(alist) # è¨ˆç®—å…±æœ‰å¹¾å€‹æ•¸å­—

mean = sum / number 

print(mean)

25.0

**Example 2**

Using list to calculate the median of given numbers 10, 65, 25, 8, 17.

In [ ]:
alist = [10, 65, 25, 8, 17]
alist.sort() # ç”±å°åˆ°å¤§æŽ’åº [8,10,17,25,65]
print(alist)

number = len(alist) # è¨ˆç®—å…±æœ‰å¹¾å€‹æ•¸å­—

if number % 2 == 1:  # ç•¶å€‹æ•¸æœ‰å¥‡æ•¸å€‹
  median_pos = int(number / 2)
  median = alist[median_pos]

else:           # ç•¶å€‹æ•¸æœ‰å¶æ•¸å€‹
  median_pos = int(number / 2)
  # print(median_pos)
  median = (alist[median_pos] + alist[median_pos - 1]) / 2

print(median)

[8, 10, 17, 25, 65]
17

## 7.Function

A function is a block of code which only runs when it is called.

The advantages of function include the following three points: 

1. Avoiding the repetition of writing the same code. 

2. Improving the readability and ease of modification of the code.

3. Breaking down complex problems into simpler ones. 

Whenever there is a need for repeated execution or complex tasks of the same type, it is recommended to write them as functions.

In [ ]:
def function_name(parameter1, parameter2):
  # function statement
  return value

-Parameter vs. Argument

The difference between parameters and arguments is that parameters are variables defined when a function is declared, while arguments are the values passed into a function when it is called.

In [ ]:
def myprint(s):
  print(s)

myprint("Hello World")

Hello World

In [ ]:
def addition(num1, num2):     # num1 and num2 are parameters 
  outcome = num1 + num2
  return outcome

print(addition(2, 3))  # 2 and 3 are arguments
print(addition(1, 10))

5
11

In [ ]:
def max(a, b):
  if a > b:
    return a 
  else: 
    return b

print(max(3, 5))

5

In [ ]:
def BMI(weight, height):
  bmi = weight / ((height / 100) ** 2)
  return bmi

num1 = float(input())
num2 = float(input())

print(BMI(num1, num2))

65
170
22.49134948096886

**Exercise 1**

Please design a simple calculator that allows users to choose a mode at the beginning, and then input three integers ï¼¸, ï¼¹, Z. 

If the user inputs 1, the program should calculate ï¼¸ + ï¼¹ + Z; 

If the user inputs 2, the program should calculate ï¼¸ - ï¼¹ - Z; 

If the user inputs 3, the program should calculate ï¼¸ * ï¼¹ * Z; 

If the user inputs 4, the program should calculate ï¼¸ / ï¼¹ / Z. 

In this program, users must be able to input the calculation mode and the numbers ï¼¸ and ï¼¹, and print the output.

In [ ]:
def calculator(mode, ï½˜, ï½™, z):
  if mode == '1':
    return x + y + z
  elif mode == '2':
    return x - y - z
  elif mode == '3':
    return x * y * z
  elif mode == '4':
    return x / y / z

mode = input()
num_x = int(input())
num_y = int(input())
num_z = int(input())


print(calculator(mode, num_x, num_y, num_z))

4
10
2
3
6.666666666666667

**Exercise 2**

Please let users enter two points on the X and Y axis, and output the distance between them.

Ex: If there are two points A(3,0)ã€B(0,4), their distance will be 5.

In [ ]:
def distance(x1, y1, x2, y2):
  dist = ((x1 - x2) ** 2 + (y1 - y2) ** 2) ** (1/2)
  return dist

x1 = float(input())
y1 = float(input())
x2 = float(input())
y2 = float(input())

print(distance(x1, y1, x2, y2))

3
0
0
4
5.0

**Practice 1**

Please let users enter a number and return its absolute value.

Ex: If users enter 2.2, you should return 2.2. If users enter -2.708, you should return 2.708.

In [ ]:
def abs(num):
  if num > 0:
    return num
  else:
    return -num

num1 = float(input())
print(abs(num1))

2.5
2.5

## 8.Import

A module is a file with python code and can contain executable statements as well as function definitions. 

In order to utilize a module, it must first be imported using the **"import"** keyword. Once imported, the functions and variables contained within the module can be accessed and used.

-math

In [ ]:
import math

print(math.pi)
print(math.fabs(-10))  # absolute value
print(math.gcd(24,12)) # highest common factor
print(math.sqrt(16)) # square
print(math.log(10)) # log
print(math.floor(5.2157)) # round down

3.141592653589793
10.0
12
4.0
2.302585092994046
5

-datetime

In [ ]:
import datetime
print(datetime.datetime.now()) 
print(datetime.date.today())

2023-02-13 12:07:07.938851
2023-02-13

-statistics

In [ ]:
import statistics

alist = [10, 65, 25, 8, 17]
mean = statistics.mean(alist)
median = statistics.median(alist)
print(mean)
print(median)

stdev = statistics.stdev(alist)    # standard deviation
variance = statistics.variance(alist) # variance
print(stdev)
print(variance)

25
17
23.33452377915607
544.5

## 9.Numpy

NumPy is a Python package that provides a simple but powerful data structure. It is more efficient than list.

### 9.1 Create an array and matrix

In [ ]:
import numpy as np

In [ ]:
a = np.array([1, 2, 3]) 
print(a)

[1 2 3]

In [ ]:
b = np.array([[1, 2], [3, 4]]) 
print(b) # 2x2 matrix

[[1 2]
 [3 4]]

In [ ]:
c = np.array([[1,2,3],[4,5,6]]) 
print(c)
print(c.shape) # 2x3 matrix

[[1 2 3]
 [4 5 6]]
(2, 3)

In [ ]:
a = np.array([[1,2,3],[4,5,6]]) 
b = a.reshape(3,2)       # resize an array
print(a)
print("\n") # newline
print(b)

[[1 2 3]
 [4 5 6]]


[[1 2]
 [3 4]
 [5 6]]

In [ ]:
x = np.zeros(5)   # Return a new array, filled with zeros
print(x)
print("\n")

x = np.zeros((5), dtype = int) # Return a new array, filled with zeros
print(x)
print("\n")

x = np.ones(5)   # Return a new array, filled with ones
print(x)
print("\n")

x = np.ones((5), dtype = int) # Return a new array, filled with ones
print(x)
print("\n")

[0. 0. 0. 0. 0.]


[0 0 0 0 0]


[1. 1. 1. 1. 1.]


[1 1 1 1 1]

### 9.2 Operation of Numpy

In [ ]:
a = np.array([1.9, 1.4, 3.7, 0.6, 10]) 
print(np.floor(a)) # round down
print(np.ceil(a)) # round up

[ 1.  1.  3.  0. 10.]
[ 2.  2.  4.  1. 10.]

In [ ]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a)
print("\n")

b = np.array([10,10,10]) 
print(b)
print("\n")

print(np.add(a,b))
print("\n")

print(np.subtract(a,b))
print("\n")

print(np.multiply(a,b))
print("\n")

print(np.divide(a,b))

[[1 2 3]
 [4 5 6]
 [7 8 9]]


[10 10 10]


[[11 12 13]
 [14 15 16]
 [17 18 19]]


[[-9 -8 -7]
 [-6 -5 -4]
 [-3 -2 -1]]


[[10 20 30]
 [40 50 60]
 [70 80 90]]


[[0.1 0.2 0.3]
 [0.4 0.5 0.6]
 [0.7 0.8 0.9]]

In [ ]:
a = np.array([[1,3,5],[7,9,11],[13,15,17]]) 
print(a)  
print("\n")  

print(np.amin(a)) # min
print("\n") 

print(np.amax(a)) # max
print("\n")

print(np.median(a))
print("\n")

print(np.mean(a))

[[ 1  3  5]
 [ 7  9 11]
 [13 15 17]]


1


17


9.0


9.0

In [ ]:
a = np.array([[1,3,5],[7,9,11],[13,15,17]])

print(np.var(a)) # variance

print(np.std(a)) # standard deviation

26.666666666666668
5.163977794943222

In [ ]:
import numpy as np
a = np.zeros((3,3))  # Return a new array, filled with zeros.
b = np.ones((3,3))  # Return a new array, filled with ones.
c = np.random.rand(3,3)  # Return a new array, filled with random numbers.
d = np.random.rand(3,3)  # Return a new array, filled with random numbers.

print(a)
print("\n")
print(b)
print("\n")
print(c)
print("\n")
print(d)
print("\n")
print(np.dot(c, d)) # Dot Product

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]


[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]


[[0.81255808 0.98428385 0.62369224]
 [0.94817278 0.40311832 0.0956729 ]
 [0.43919384 0.06442495 0.48471427]]


[[0.10413939 0.83362463 0.73145132]
 [0.11677449 0.61997378 0.17350658]
 [0.3785711  0.25040668 0.1180931 ]]


[[0.4356704  1.44377531 0.83878015]
 [0.18203506 1.0643001  0.77478422]
 [0.23675938 0.52744027 0.38966847]]

**Quiz 1**

Create a Python program to multiply two integer numbers from the user.

In [ ]:
num1 = int(input())
num2 = int(input())

result = num1 * num2

print(result)

10
8
80

**Quiz 2**

The computer is $20,000.

The cellphone is $15,000.

Please let users enter how many computers and cellphones users buy and output the total.

In [ ]:
computer_price = 20000
cellphone_price = 15000
computer_num = int(input())
cellphone_num = int(input())

total = computer_price * computer_num  + cellphone_price * cellphone_num

print(total)

10
5
275000

**Quiz 3**

The fare for a taxi ride is calculated based on the distance traveled and the time taken for the ride. 

The base fare for the taxi is $2.50.

The fare increases by $0.50 for every mile traveled when the taxi traveled over 5 miles. 


Write a program that takes in the distance traveled for the ride as input, and outputs the total fare for the ride.

In [ ]:
distance = float(input())

base_fare = 2.50
mile_fare = 0.50
boundary = 5

if distance > boundary:
  totals = base_fare + mile_fare * (distance - 10)
else:
  totals = base_fare

print(totals)

15
5.0

****Some of the course materials and exercises in this chapter are modified from "Programming for Business Computing Fall 2021".**